network:
  ethernets:
    {{ vato_host_net_interface }}:
      addresses: {{ vato_host_addresses }}
      gateway4: {{ vato_hosts_gateway4 }}
      nameservers:
        addresses: {{ vato_hosts_dns_addresses }}
  version: 2